@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 278 48% 99%;
      --foreground: 278 62% 0%;
      --muted: 278 32% 85%;
      --muted-foreground: 278 7% 33%;
      --popover: 278 48% 99%;
      --popover-foreground: 278 62% 0%;
      --card: 278 48% 98%;
      --card-foreground: 0 0% 0%;
      --border: 278 14% 94%;
      --input: 278 14% 94%;
      --primary: 278 100% 64%;
      --primary-foreground: 0 0% 100%;
      --secondary: 278 8% 83%;
      --secondary-foreground: 278 8% 23%;
      --accent: 278 17% 75%;
      --accent-foreground: 278 17% 15%;
      --destructive: 16 89% 43%;
      --destructive-foreground: 0 0% 100%;
      --ring: 278 100% 64%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 278 46% 3%;
      --foreground: 278 12% 100%;
      --muted: 278 32% 15%;
      --muted-foreground: 278 7% 67%;
      --popover: 278 46% 3%;
      --popover-foreground: 278 12% 100%;
      --card: 278 46% 4%;
      --card-foreground: 0 0% 100%;
      --border: 278 14% 11%;
      --input: 278 14% 11%;
      --primary: 278 100% 64%;
      --primary-foreground: 0 0% 100%;
      --secondary: 278 1% 18%;
      --secondary-foreground: 278 1% 78%;
      --accent: 278 9% 25%;
      --accent-foreground: 278 9% 85%;
      --destructive: 16 89% 57%;
      --destructive-foreground: 0 0% 0%;
      --ring: 278 100% 64%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
